# Created by venv; see https://docs.python.org/3/library/venv.html

# make pyvenv.cfg ignored in the .gitignore file
pyvenv.cfg

#make the secrets file ignored in the .gitignore file
ansible/baseline/proxmox/secrets.yml

#make Scripts directory ignored in the .gitignore file
**/Scripts

#make Lib directory ignored in the .gitignore file
**\Lib
